#Backup files
*\~
*swp

#Annoying thumbs file that appears everywhere :)
Thumbs.db

#Mac DS_Store file
.DS_Store

#Emacs buffers
\#*\#

/glew-1.13.0/_build
/test/build
conanfile.pyc
conaninfo.txt
conanbuildinfo.cmake
