build: false
environment:
    PYTHON: "C:\\Python27-x64"
    PYTHON_VERSION: "2.7.11"
    PYTHON_ARCH: "64"
    CONAN_UPLOAD: 1
    CONAN_REFERENCE: "glew/2.0.0"
    CONAN_USERNAME: "coding3d"
    CONAN_CHANNEL: "testing"
    CONAN_TOTAL_PAGES: 4

    matrix:
        - CONAN_CURRENT_PAGE: 1
        - CONAN_CURRENT_PAGE: 2
        - CONAN_CURRENT_PAGE: 3
        - CONAN_CURRENT_PAGE: 4


install:
  - set PATH=%PATH%;%PYTHON%/Scripts/
  - pip.exe install conan_package_tools
  - conan user

test_script:
  - C:\Python27-x64\python build.py
